.myclass2{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 40px;
    color: #1db424;
    display: block;
    font-weight: 900;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}

.neonshadow{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    margin-left: 230px;
    margin-right: auto;
    font-size: 75px;
    color:rgb(12, 21, 49);
    text-shadow:
    0 0 5px rgb(2, 172, 252),
    0 0 10px rgb(2, 172, 252),
    0 0 20px rgb(2, 172, 252),
    0 0 40px rgb(0, 0, 0),
    0 0 80px rgb(0, 0, 0),
    0 0 90px rgb(0, 0, 0),
    0 0 100px rgb(0, 0, 0),
    0 0 150px rgb(0, 0, 0);
}